#app {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    height: 100vh;
}

form {
    margin-left: 164px;
    max-width: 404px;
    width: 100%;
    text-align: left;
}

h1 {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 32px;
}

.elem {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.elem label {
    font-weight: 500;
    font-size: 14px;
}

.elem input {
    color: #333;
    font-size: 14px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
}

.elem input:focus {
    border: 1px solid #3A5B22;
}

.agreement {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 0px 0px 30px;
}

.agreement input {
    width: 12px;
    height: 12px;
}

button {
    cursor: pointer;
    border: none;
    color: white;
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    background-color: #3A5B22;
    font-weight: 700;
    font-size: 14px;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
}

.or {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.or::before,
.or::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ccc;
    margin: 0 10px;
}

.signin {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.signin a {
    text-decoration: none;
    color: #0F3DDE;
    position: relative;
}

.signin a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: #0F3DDE;
    transition: 0.3s;
}

.signin a:hover::after {
    width: 100%;
    left: 0;
}

img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}

@media (max-width: 1200px) {
    #app {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;
    }

    form {
        margin: 0;
        width: 100%;
    }

    img {
        display: none !important;
    }
}